 <!-- global footer area -->
<nav class="global-footer" aria-label="NYS Global Footer Menu - these are external links">
  <img class="global-logo" src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/logo_footer.png" alt="The State of New York Logo" />
  <ul class="global-list">
    <li>
      <a href="https://www.ny.gov/agencies" class="global-links">Agencies</a>
    </li>
    <li>
      <a href="https://www.ny.gov/mobileapps" class="global-links">App Directory</a>
    </li>
    <li>
      <a href="https://www.ny.gov/counties" class="global-links">Counties</a>
    </li>
    <li>
      <a href="https://www.ny.gov/events" class="global-links">Events</a>
    </li>
    <li>
      <a href="https://www.ny.gov/programs" class="global-links">Programs</a>
    </li>
    <li>
      <a href="https://www.ny.gov/services" class="global-links">Services</a>
    </li>
    <li>
      <a href="https://forms.office.com/pages/responsepage.aspx?id=kH3WHqj1BkO_hmis_jVtw7ZqmY3uNFlJitX6nXi7yCFUNUdSOFdOVUFQSURUUTFOUDdXT0k2SFkxOS4u" class="global-links">Contact Us</a>
    </li>
  </ul>
</nav>