 <!-- global nav area -->
  <nav class="navbar navbar-inverse global-nav" role="navigation" aria-label="Hub Navigation">
    <div class="global-nav-inner">
      <button class="navbar-toggle global-nav-menu" data-toggle="collapse" data-target="#global-navigation">
        <span class="sr-only">Toggle hub navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="global-nav-title">
          <a href="/"> <span class="nygov-gold">Environmental</span> Bond Act</a>
      </h1>
    </div>
    <div class="collapse" id="global-navigation">
        <div class="navbar global-nav-link-container">
          <ul class="list-unstyled global-nav-links global-nav-list-desktop">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Funding <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/pages/funding-opportunities">Find Funding</a></li>
                    <li><a href="/pages/funding-overview" >Funding Overview</a></li>
                </ul>
            </li>
            <li><a href="/pages/projects" >Projects</a></li>
            <li><a href="/pages/priorities" >Priorities</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pages/faq">Frequently Asked Questions</a></li>
                  <li><a href="/pages/resources-for-resilience">Resources for Resilience</a></li>
                  <li><a href="/pages/archived-eligibility-guidelines">Archived Eligibility Guidelines</a></li>
                  <li><a href="https://www.nysenate.gov/legislation/laws/ENV/A58">Read the Act</a></li>
                </ul>
            </li>
            <li><a href="/pages/news">News</a></li>
            
          </ul>
          <ul class="list-unstyled global-nav-links global-nav-list-mobile">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Funding <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/pages/funding-opportunities" data-toggle="collapse" data-target="#global-navigation">Find Funding</a></li>
                    <li><a href="/pages/funding-overview" data-toggle="collapse" data-target="#global-navigation">Funding Overview</a></li>
                </ul>
            </li>
            <li><a href="/pages/projects" data-toggle="collapse" data-target="#global-navigation">Projects</a></li>
            <li><a href="/pages/priorities" data-toggle="collapse" data-target="#global-navigation">Priorities</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button">Resources <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pages/faq" data-toggle="collapse" data-target="#global-navigation">Frequently Asked Questions</a></li>
                  <li><a href="/pages/resources-for-resilience" data-toggle="collapse" data-target="#global-navigation">Resources for Resilience</a></li>
                  <li><a href="/pages/archived-eligibility-guidelines" data-toggle="collapse" data-target="#global-navigation">Archived Eligibility Guidelines</a></li>
                  <li><a href="https://www.nysenate.gov/legislation/laws/ENV/A58">Read the Act</a></li>
                </ul>
            </li>
            <li><a href="/pages/resources" data-toggle="collapse" data-target="#global-navigation">Resources</a></li>
            <li><a href="/pages/news" data-toggle="collapse" data-target="#global-navigation">News</a></li>
          </ul>
        
        </div>
    </div>
  </nav>