---
layout: layout.njk
title: Environmental Bond Act 
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion  %}


{{ hero({
    title:"Clean Water, Clean Air and Green Jobs Environmental Bond Act ",
    description:"Investing $4.2 Billion in New York's Environment and Communities",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/Environment-hero-image.png?h=b5f6a62e&itok=W7ZKTbsk",
    headline:"Programs",
    links: [
        {
            text:"Fund a Project",
            link:"/pages/funding-opportunities",
            arialabel:""
        },
        {
            text:"Project Resources",
            link:"/pages/news-resources",
            arialabel:""
        }
    ]
    })
}}
{% include '_css-link.njk' %}

<style>
    .alert {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        background-color: #fec3c3;
        padding: 20px;
    }

    .alert-heading {
        font-size: 2em;
        font-weight: bold;
    }

    .alert-text {
        
    }

    .alert-cta {

    }

</style>

<div class="alert">
    <h2 class="alert-heading">WINTER STORM WARNING</h2>
    <div class="alert-text">Severe weather alerts effective for Allegany County, Bronx County, Broome County, Cattaraugus County, Cayuga County, Chautauqua County, Chemung County, Chenango County, Clinton County, Columbia County, Cortland County..</div>
    <a href="#" class="alert-cta">FIND OUT MORE</a>
</div>


{{
    accordion({
        title:"Title",
        headline:"Headline",
        items:[
            {
                target:"first",
                title:"First accordion item",
                description:"text that appears in this area",
                ctalink:"https://ny.gov",
                ctatext:"Learn more about this thing"
            },
            {
                target:"second",
                title:"second one",
                description:"something that is in here",
                ctalink:"https://ny.gov",
                ctatext:"Learn more about this thing"
            },
            {
                target:"third",
                title:"third trigger",
                description:"another thing thats in this area"
            },
            {
                target:"four",
                title:"and so on",
                description:"another thing thats in this area"
            },
            {
                target:"four4",
                title:"and so on",
                description:"another thing thats in this area"
            },
            {
                target:"four44",
                title:"and so on",
                description:"another thing thats in this area"
            }        
        ]
    })
}}



{{
    card({
        heading:"An example of a set of cards",
        intro:"Descriptive text no longer than a sentence or two that is used to introduce the set of cards or a particular topic. Cards are organized into rows of three at desktop and stack at mobile.",
        cards:[
            {
                title:"First Card",
                content:"A short descriptive sentence about the topic/link of the card",
                link:"https://ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_mobile/public/2024-01/FY2025Budgethero3.jpg",
                imagealt:"Governor Hochul Delivering a Budget Address"
            },
            {
                title:"Second Card",
                content:"A short descriptive sentence about the topic/link of the card",
                link:"https://ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_mobile/public/2024-01/FY2025Budgethero3.jpg",
                imagealt:"Governor Hochul Delivering a Budget Address"
            },
            {
                title:"Third Card",
                content:"A short descriptive sentence about the topic/link of the card",
                link:"https://ny.gov",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_mobile/public/2024-01/FY2025Budgethero3.jpg",
                imagealt:"Governor Hochul Delivering a Budget Address"
            }
        ]
    })
}}

{{
    category({
        heading:"Testing",
        intro:"Short section of descriptive text",
        tiles:[
            {
                link:"https://ny.gov",
                linktext:"Advancing Environmental Justice",
                color:"blue"
            },
            {
                link:"https://ny.gov",
                linktext:"Advancing Environmental Justice",
                color:"blue"
            },
            {
                link:"https://ny.gov",
                linktext:"Advancing Environmental Justice",
                color:"blue"
            },
            {
                link:"https://ny.gov",
                linktext:"Advancing Environmental Justice",
                color:"blue"
            }
        ]
    })
}}


{{
    highlight({
        color:"yellow",
        title:"Next Steps",
        heading:"",
        description:"",
        buttoncard:[
            {
                heading:"Reviewing Feedback",
                description:"Multi-agency State working groups are reviewing the feedback received through the Environmental Bond Act Listening Tour and Project Ideas Survey to help identify needs for environmental funding and develop program logistics for Bond Act implementation. "
            },
            {
                heading:"Public Comment Opportunities ",
                description:"As State agencies and authorities develop grant opportunities, eligibility guidelines will be published for public comment to fine tune programs to deliver Bond Act funds to communities. "
            },
            {
                heading:"Ensuring Transparency ",
                description:"As Bond Act funds are distributed, the State will work with stakeholders to ensure a transparent process that enables New Yorkers to see what is funded. "
            }
        ]
    })
}}



{{
    stats({
        heading:"Bond Act Funding",
        intro:"",
        ctalink:"/pages/funding-overview",
        ctatext:"Funding Overview",
        cards:[
            {
                icon:'<svg version="1.1" aria-hidden="true" height="97" width="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <path class="st0" d="M16.76,88.35l-6.6-6.6c-4.11-4.11-4.11-10.85,0-14.96l0.59-0.59c4.11-4.11,10.85-4.11,14.96,0l6.6,6.6
                        L16.76,88.35z"/>
                    <line class="st0" x1="23.11" y1="87.22" x2="28.34" y2="92.45"/>
                    <line class="st0" x1="31.19" y1="79.15" x2="36.41" y2="84.37"/>
                    <path class="st0" d="M36.45,53.95c5.64,13.82,20.82,21,24.47,19.13s9.06-13.52,3.42-27.34s-15.55-5.84-24.6-22.38
                        C39.74,23.36,30.81,40.14,36.45,53.95z"/>
                    <path class="st0" d="M10.27,66.75c-2.06-5.02-3.19-10.52-3.19-16.28C7.08,26.77,26.3,7.55,50,7.55s42.92,19.22,42.92,42.92
                        c0,14.47-7.16,27.26-18.13,35.04c0,0-13.8,9.75-14.33-4.85c-0.25-6.97-2.35-13.94-2.35-13.94s-4.29-16.17-12.8-21.59"/>
                    </svg>',
                stat:"",
                description:"Climate Change Mitigation",
                color:"blue"
            },
            {
                icon:'<svg version="1.1" aria-hidden="true" height="97" width="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                        <style type="text/css">
                        .st0{fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                    </style>
                    <g>
                        <path class="st0" d="M16.67,63.48c5.55,0,5.55,6.71,11.1,6.71c5.55,0,5.55-6.71,11.1-6.71c5.55,0,5.55,6.71,11.11,6.71
                            c5.55,0,5.55-6.71,11.11-6.71c5.55,0,5.55,6.71,11.11,6.71c5.56,0,5.56-6.71,11.11-6.71s5.56,6.71,11.11,6.71"/>
                        <path class="st0" d="M5.57,70.18c5.56,0,5.56-6.71,11.11-6.71s5.56,6.71,11.11,6.71"/>
                    </g>
                    <g>
                        <path class="st0" d="M16.67,74.53c5.55,0,5.55,6.71,11.1,6.71c5.55,0,5.55-6.71,11.1-6.71c5.55,0,5.55,6.71,11.11,6.71
                            c5.55,0,5.55-6.71,11.11-6.71c5.55,0,5.55,6.71,11.11,6.71c5.56,0,5.56-6.71,11.11-6.71s5.56,6.71,11.11,6.71"/>
                        <path class="st0" d="M5.57,81.24c5.56,0,5.56-6.71,11.11-6.71s5.56,6.71,11.11,6.71"/>
                    </g>
                    <path class="st0" d="M94.43,51.91c-22.96,7.35-43.49-6.5-36.96-19.55c5.4-10.79,17.75,2.41,17.75,2.41S57.92,3.24,36.3,25.75
                        C20.88,41.8,24.85,55.13,5.57,55.13"/>
                    </svg>',
                stat:"",
                description:"Restoration and Flood Risk",
                color:"blue"
            },
            {
                icon:'<svg version="1.1" aria-hidden="true" height="97" width="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <g>
                        <path class="st0" d="M82.5,81.46L82.5,81.46L74.2,67.07l-8.31,14.39h0c-0.73,1.34-1.14,2.88-1.14,4.51c0,5.22,4.23,9.45,9.45,9.45
                            s9.45-4.23,9.45-9.45C83.65,84.33,83.23,82.8,82.5,81.46z"/>
                        <path class="st0" d="M68.62,84.75c0,3.57,2.9,6.47,6.47,6.47"/>
                        <path class="st0" d="M13.07,37.51h44.35c4.56,0,8.29,3.73,8.29,8.29v8.63h-3.29c-1.41,0-2.56,1.15-2.56,2.56
                            c0,1.41,1.15,2.56,2.56,2.56h21.96c1.41,0,2.56-1.15,2.56-2.56c0-1.41-1.15-2.56-2.56-2.56h-2.1V45.8
                            c0-13.71-11.15-24.86-24.86-24.86H13.07"/>
                        <path class="st0" d="M51.48,3.5c-1.51,0-2.83,0.8-3.58,1.99H23.77C23.02,4.3,21.7,3.5,20.18,3.5c-2.34,0-4.25,1.9-4.25,4.25
                            c0,2.34,1.9,4.25,4.25,4.25c1.51,0,2.83-0.8,3.58-1.99H47.9c0.75,1.19,2.07,1.99,3.58,1.99c2.34,0,4.25-1.9,4.25-4.25
                            C55.73,5.4,53.82,3.5,51.48,3.5z"/>
                        
                            <rect x="30.46" y="13.31" transform="matrix(-1.836970e-16 1 -1 -1.836970e-16 51.3976 -20.2661)" class="st0" width="10.75" height="4.51"/>
                    </g>
                    </svg>',
                stat:"",
                description:"Water Quality Improvement and Resilient Infrastructure",
                color:"blue"
            },
            {
                icon:'<svg version="1.1" aria-hidden="true" height="97" width="97" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                    <path class="st0" d="M12.41,94.49h63.86c-7.15-8.25-18.79-13.63-31.93-13.63S19.56,86.23,12.41,94.49z"/>
                    <path class="st0" d="M65.67,94.49h29.45V76.71c-3.18-1.04-6.63-1.62-10.25-1.62c-9.21,0-17.38,3.7-22.5,9.41"/>
                    <path class="st0" d="M44.68,80.86c-3.75-9.26-14.25-15.94-26.62-15.94c-4.2,0-8.18,0.77-11.75,2.15v27.41h13.81"/>
                    <path class="st0" d="M45.11,94.49h50.01V65.66c-7.03-5.97-16.82-9.68-27.64-9.68c-13.26,0-24.96,5.55-31.95,14.02"/>
                    <circle class="st0" cx="74.05" cy="25.17" r="8.51"/>
                    <line class="st0" x1="74.05" y1="38.45" x2="74.05" y2="43.6"/>
                    <line class="st0" x1="74.05" y1="6.74" x2="74.05" y2="11.89"/>
                    <line class="st0" x1="60.77" y1="25.17" x2="55.63" y2="25.17"/>
                    <line class="st0" x1="92.48" y1="25.17" x2="87.34" y2="25.17"/>
                    <line class="st0" x1="64.66" y1="34.56" x2="61.02" y2="38.2"/>
                    <line class="st0" x1="87.08" y1="12.14" x2="83.45" y2="15.78"/>
                    <line class="st0" x1="64.66" y1="15.78" x2="61.02" y2="12.14"/>
                    <line class="st0" x1="87.08" y1="38.2" x2="83.45" y2="34.56"/>
                    <path class="st0" d="M33.84,42.28c0,5.92-4.8,10.72-10.72,10.72s-10.72-4.8-10.72-10.72s4.8-18.14,10.72-18.14
                        S33.84,36.37,33.84,42.28z"/>
                    <line class="st0" x1="23.12" y1="37.33" x2="23.12" y2="65.31"/>
                    <line class="st0" x1="23.12" y1="46.28" x2="18.67" y2="40.92"/>
                    <line class="st0" x1="23.12" y1="46.28" x2="27.49" y2="41.01"/>
                    </svg>',
                stat:"",
                description:"Open Space Land Conservation and Recreation",
                color:"blue"
            }
        ]

    })
}}