---
layout: render-layout.njk
title: Funding Opportunities
component: hero
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
{% if component == "accordion" %}{% include './_includes/accordion/_accordion.css'  %} {% endif %}
</style>


{{
    filtercard({
        heading:"Recent News",
        archive: false,
        cards:[
            {
                agency:"Governor",
                title:"Governor Hochul Announces Funding Now Available to Support Electric School Bus Charging Infrastructure ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-funding-now-available-support-electric-school-bus-charging",
                date:"Mar 05, 2024" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"DEC Releases Environmental Bond Act Draft Eligibility Guidelines to Support Planting 25 Million Trees by 2033 ",
                link:"https://dec.ny.gov/news/press-releases/2024/2/dec-releases-environmental-bond-act-draft-eligibility-guidelines-to-support-planting-25-million-trees-by-2033",
                date:"Feb 13, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $100 Million in Environmental Bond Act Funding Now Available for Clean Green Schools ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-100-million-environmental-bond-act-funding-now-available-clean-green",
                date:"Jan 23, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $13.1 Million to Support Construction of the Adirondack Rail Trail ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-131-million-support-construction-adirondack-rail-trail",
                date:"Jan 23, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces Investments in Long Island Resiliency Projects to Protect Communities from Extreme Weather ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-investments-long-island-resiliency-projects-protect-communities",
                date:"Jan 22, 2024" 
            }
        ]
    })
}}



{# {{
    accordion({
        title:"",
        headline:"Bond Act Priorities",
        items:[
            {
                target:"first",
                title:"Advancing Environmental Justice",
                description:"At least 35%, with the goal of 40%, of the funds will benefit disadvantaged communities.",
                ctalink:"/pages/priorities#justice",
                ctatext:"Learn more about Environmental Justice"
            },
            {
                target:"second",
                title:"Mitigating Climate Change",
                description:"Helping municipalities redesign and rebuild to withstand future severe storms and flooding.",
                ctalink:"/pages/priorities#climate",
                ctatext:"Learn more about Mitigating Climate Change"
            },
            {
                target:"third",
                title:"Job Creation",
                description:"Promoting job creation by supporting an estimated 84,000 jobs with significant labor provisions.",
                ctalink:"/pages/priorities#jobs",
                ctatext:"Learn more about Job Creation"
            },
            {
                target:"fourth",
                title:"Protecting Natural Resources",
                description:"Expanding access to open space, preserving farmland, and supporting projects.",
                ctalink:"/pages/priorities#resources",
                ctatext:"Learn more about Protecting Natural Resources"
            }
        ]
    })
}} #}






{# {{ hero({
    title:"Resources",
    description:"Find resources for your project and read frequently asked questions about the Bond Act.",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/2023-01/Wellesley-Island-from-Nature-trail_1280.jpg?h=b5f6a62e&itok=82o6TYhg",
    headline:"Environmental Bond Act"
    })
}} #}



