---
layout: render-layout.njk
title: Funding Opportunities
component: stats
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
</style>

{# {{ hero({
    title:"Program Priorities",
    description:"",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/2023-02/outdoors_family_nyc_bridge_environment_1280.jpg?h=b5f6a62e&itok=dbAWmV3E",
    headline:"Environmental Bond Act"
    })
}} #}




{# {{
    category({
        heading:"Bond Act Priorities",
        intro:"",
        tiles:[
            {
                link:"#justice",
                linktext:"Advancing Environmental Justice",
                color:"blue"
            },
            {
                link:"#climate",
                linktext:"Mitigating Climate Change",
                color:"blue"
            },
            {
                link:"#jobs",
                linktext:"Creating Jobs",
                color:"blue"
            },
            {
                link:"#resources",
                linktext:"Protecting Natural Resources",
                color:"blue"
            }
        ]
    })
}} #}
