---
layout: render-layout.njk
title: Funding Opportunities
component: cards
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion, backtop, stayupdated  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
{% if component == "accordion" %}{% include './_includes/accordion/_accordion.css'  %} {% endif %}
{% if component == "backtop" %}{% include './_includes/backtop/_backtop.css'  %} {% endif %}
{% if component == "stay" %}{% include './_includes/stayupdated/_stayupdated.css'  %} {% endif %}
</style>

{{
    card({
        heading:"Featured",
        intro:"",
        cards:[
            {
                title:"DEC releases first Clean Water, Clean Air and Green Environmental Bond Act Annual Report ",
                content:"The annual report provides an overview of the Bond Act and summary of activities that occurred during FY 23-24.",
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/CWCAGJ-Environmental-Bond-Act-FY-2023-24-Annual-Report.pdf",
                image:"https://www.governor.ny.gov/sites/default/files/2021-07/Cranberry_Lake_Forest_Preserve_1280.jpg",
                imagealt:"cranberry lake forest preserve showing a beautiful serene view of the placid lake with trees in summer"
            },
            {
                title:"Additional $200 Million in Bond Act Funding Available for Zero-Emission School Buses",
                content:"New York School Bus Incentive Program Makes Clean Buses and Charging Infrastructure More Affordable for Public Schools",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-additional-200-million-environmental-bond-act-funding-now-available",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2023-09/electric-school-buses_0.jpg?h=ec45e355&itok=kdnwMXLq",
                imagealt:"school buses"
            }
        ]
    })
}}