<!-- universal nav area -->
<div class="unav-trusted-banner">
        <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" alt="State of New York Logo" class="unav-trusted-logo">
        <a href="https://ny.gov" class=""> An Official Website of the State of New York </a>
</div>
<nav class="navbar navbar-default navbar-static-top container-fluid unav-hide" aria-label="State of new york universal Navigation">
    <div class="row unav-container" >
          <div class="site-logo col-sm-1 col-xs-5">
              <a href="https://www.ny.gov" class="unav-logo-link">
              <span class="sr-only"> State of New York Website </span>
              <img src="https://static-assets.ny.gov/sites/all/themes/ny_gov/images/nygov-logo.png" alt="State of New York Logo">
               </a>
          </div>
          <div class="col-md-6 col-xs-4" id="unav-menu">
              <ul class="list-unstyled unav-links">
                  <li class="">
                      <a class="" href="https://www.ny.gov/services">Services</a>
                  </li>
                  <li class="">
                      <a class="" href="https://www.governor.ny.gov/news">News</a>
                  </li>
                  <li class="">
                      <a class="" href="https://www.ny.gov/agencies">Government</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <button class="navbar-toggle collapsed unav-mobile-button" data-toggle="collapse" data-target="#unav-menu-mobile">
                  <span class="sr-only">Toggle new york state navigation</span>
                  <span class="caret-large"></span>
              </button>
          </div>
    </div>
    <div class="row row-collapse">
       <div class=" collapse" id="unav-menu-mobile">
              <ul class="list-unstyled unav-links">
                  <li class="">
                      <a class="" href="https://www.ny.gov/services">Services</a>
                  </li>
                  <li class="">
                      <a class="" href="https://www.governor.ny.gov/news">News</a>
                  </li>
                  <li class="">
                      <a class="" href="https://www.ny.gov/agencies">Government</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>