<div class="stay-updated">
    <div class="stay-updated-icon"></div>
    <h2 class="stay-updated-heading"> {{params.title}} </h2>
    <p class="stay-updated-description">{{params.description}}</p>
    <div class="stay-updated-cta">
        <a class="stay-updated-link" href="{{params.link}}">{{params.linktext}}</a>
    </div>
</div>