{%if params.archive === false%}
<div class="filtercards">
    <h3 class="filtercard-heading"> {{params.heading}}</h3>
    <ul class="filtercard-list" aria-live="polite">
        {% for card in params.cards %}
            <li class="filtercard-list-item">
                    <div class="filtercard-top">
                        <span class="filtercard-category">
                            <span class="sr-only">Category of </span>
                        {%if card.category === "BIL"%}
                            Bipartisan Infrastructure Law (BIL)
                        {%endif%}
                        {%if card.category === "IRA"%}
                            Inflation Reduction Act (IRA)
                        {%endif%}
                        </span>
                    {%if card.agency %}
                        <span class="filtercard-agency"><span class="sr-only">Agency </span>{{card.agency}}</span>
                    {%endif%}
                    </div>
                    <span class="filtercard-divider" aria-hidden="true"></span>
                    <a href="{{card.link}}" class="filtercard-link">{{card.title}}</a>
                    {%if card.date%}
                        <span class="filtercard-date"> <span class="sr-only">published </span>{{card.date}}</span>
                    {%endif%}
                {% if card.description %}
                    <p class="filtercard-description">{{card.description}}</p>
                {%endif%}
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{%if params.archive === true%}
<div class="filter-archive">
    <h3 class="filter-table-heading"> {{params.heading}}</h3>
    <table class="filter-archive-table">
        <caption class="sr-only">{{params.heading}}
            </caption>
        <thead>
            <tr class="filter-archive-table-header">
                <th scope="col" >Category</th>
                <th  scope="col" class="filter-table-title">Title</th>
                <th  scope="col" class="filter-table-date">Published Date</th>
                <th scope="col" >Agency</th>
            </tr>
        </thead>
        <tbody>
        {% for card in params.cards %}
            <tr class="filter-archive-table-row">
                <td>
                    <span>
                        <span class="sr-only">Category of </span>
                        {%if card.category === "BIL"%}
                            Bipartisan Infrastructure Law (BIL)
                        {%endif%}
                        {%if card.category === "IRA"%}
                            Inflation Reduction Act (IRA)
                        {%endif%}
                    </span>
                </td>
                <td>
                    <a href="{{card.link}}" class="filter-archive-link">{{card.title}}</a>
                </td>
                <td>{{card.date}}</td>
                <td>{{card.agency}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}