{{
    button({
        buttons:[
            {
                type: "button",
                title: "",
                toggle: "",
                id:""
            },
            {
                type:"link",
                title:"",
                link:""
            }
        ]
    })
}}