{% if params.headline %}
        <h3 class="accordion-headline">{{params.headline}}</h3>
    {% endif %}
<div class="accordion">
    {% for item in params.items %}
            <button class="accordion-button" 
                    data-toggle="collapse" 
                    data-target="#{{item.target}}">
                <span class="accordion-title"> {{item.title}} </span>
                <span class="accordion-button-icon" aria-hidden="true"></span>
            </button>
            <div class="accordion-item collapse" id="{{item.target}}">
                <div class="accordion-description">
                    {{item.description | safe}}
                    {% if item.ctalink %}
                        <a href="{{item.ctalink}}" class="accordion-cta">{{item.ctatext}}<span class="accordion-cta-arrow" aria-hidden="true"></span></a>
                    {% endif %}
                </div>
               
            </div>
    {% endfor %}
</div>