.highlight-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 35px;
}

.highlight-h2 {
    padding-top: 35px;
    display: block;
    width: 100%;
}

.highlight-title {
    font-family: Oswald, sans-serif;
    font-size: 0.55em;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding-bottom: 15px;
}

.highlight-heading {
    font-family: 'Figtree', sans-serif;
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    text-align: center;
    color: #154973;
    margin-bottom: 20px;
}

.highlight-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-card {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    margin: 15px 30px;
}

.button-card-heading {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 15px;
}

.button-card-description {
    text-align: center;
    min-height: 100px;
}

.highlight-link {
    text-decoration: none !important;
    min-width: 250px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:#000;
    margin: 20px 0px;
}

.highlight-link:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: underline !important;
}

.highlight-link:focus {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: underline !important;
}