---
layout: layout.njk
title: FAQ
---
{% from '../_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, accordion  %}



{{
    accordion({
        title:"",
        headline:"Projects",
        items:[
            {
                target:"p-one",
                title:"What types of projects can the Bond Act help support?",
                description:"<p>A wide range of environmental, recreational, and public health and safety capital projects may be eligible for Environmental Bond Act funding. To be considered bondable, projects must have a useful life of at least 10 years. Routine maintenance and equipment are generally not bondable.</p>

<p>Examples of potentially eligible projects include:</p>

<strong>Projects safeguarding drinking water sources and reduce water pollution</strong>
    <ul>  
    <li>Upgrading wastewater infrastructure and replace failing septic systems and lead service lines</li>
    <li>Municipal stormwater projects</li>
    <li>Protecting water quality by reducing sediment and nutrient runoff, and improving soil health</li>
    <li>Reducing the frequency of harmful algal blooms</li>
    </ul>

<strong>Projects reducing air pollution and to fight climate change</strong>
    <ul>
    <li>Purchasing electric school buses and associated charging stations</li>
    <li>Reducing urban heat islands with green roofs, open space, and community gardens </li>
    <li>Increasing energy efficiency and renewable energy generation at State-owned buildings and public schools</li>
    <li>Protecting forest lands to store or reduce carbon and methane pollution</li>
    </ul>

<strong>Projects protecting communities from climate change impacts </strong>
    <ul>
    <li>Revitalizing waterfronts and invest in resilient infrastructure </li>
    <li>Voluntary property buyouts </li>
    <li>Wetland, stream, forest, and wildlife habitat restoration </li>
    <li>Relocating or raising flood-prone roadways and upgrade dams, bridges, and culverts </li>
    </ul>


<strong>Projects improving access to and protecting nature </strong>
    <ul>
    <li>Open space land conservation and protect threatened and endangered species </li>
    <li>Upgrading State-owned fish hatcheries </li>
    <li>Opening new and improve existing parks, campgrounds, and nature centers </li>
    <li>Restoring and building new trails </li>
    </ul>",
                ctalink:"",
                ctatext:""
            },
            {
                target:"p-two",
                title:"How are the different categories of funding allocated? ",
                description:"<strong>The Environmental Bond Act authorizes $4.2 billion to include:</strong>
    <ul>
    <li>$1.5 billion for Climate Change Mitigation</li>
    <li>$1.1 billion for Restoration and Flood Risk Reduction</li>
    <li>$650 million for Water Quality Improvement and Resilient Infrastructure</li>
    <li>$650 million for Open Space Land Conversation and Recreation</li>
    <li>$300 million for other projects not specifically allocated.</li>
    </ul>",
                ctalink:"",
                ctatext:""
            },
            {
                target:"p-three",
                title:"Do the categories align with existing State programs or will some of them require new programs to be developed?",
                description:"
The Bond Act will primarily build on the success of current state initiatives since many categories align with existing programs. Some of the investments will support the expansion and strengthening of existing programs. The inter-agency working group is also assessing the need for new programs to help meet Bond Act goals and facilitate use of Bond Act funds.",
                ctalink:"",
                ctatext:""
            }
            
        ]
    })
}}




{{
    accordion({
        title:"",
        headline:"Funding",
        items:[
            {
                target:"f-one",
                title:"How do I apply for funding? ",
                description:"An inter-agency working group is working on program implementation logistics, including eligibility criteria, use of existing or new grant programs, determining potential match requirements, and points of contact. When planning is complete, funding announcements are being made and updates posted on this website.",
                ctalink:"/pages/funding-opportunities",
                ctatext:"See Available Funding Opportunities"
            },
            {
                target:"f-two",
                title:"Will Bond Act funds be used to leverage federal funding? ",
                description:"Yes, as categories of projects are considered, New York State will look to identify and maximize opportunities to leverage additional Federal dollars for projects that align with the Bond Act. ",
                ctalink:"",
                ctatext:""
            },
            {
                target:"f-three",
                title:"What is the timeline/horizon to roll out initial funding from the Bond Act? ",
                description:"Funding implementation is expected to start this year. For more information and to stay updated with additional competitive procurements and other available opportunities to obtain direct funding for infrastructure improvements, please visit the funding opportunities page. ",
                ctalink:"/pages/funding-opportunities",
                ctatext:"See Available Funding Opportunities"
            },
            {
                target:"f-four",
                title:"How will Bond Act funds be repaid?",
                description:"Debt service payments associated with the Bond Act will be paid from the State’s General Fund, which receives most state taxes and all income not earmarked for a specified program or activity. These projected debt service payments are already accounted for in the state’s long-term financial plan. The Environmental Bond Act will not cause taxpayers to see an increase in state taxes.",
                ctalink:"",
                ctatext:""
            }
        ]
    })
}}










{{
    accordion({
        title:"",
        headline:"Communities",
        items:[
            {
                target:"c-one",
                title:"Why is a minimum of 35% of the benefit of the funds being directed towards disadvantaged communities? ",
                description:"Decades of environmental justice research has shown that certain populations—particularly low-income and communities of color—shoulder a disproportionate burden of negative environmental outcomes, such as pollution exposure and lack of access to open space. Additionally, climate change is a threat multiplier—its impacts are further exacerbated by existing stressors and vulnerabilities, adding increasing burdens to some communities. For these reasons, the Bond Act will ensure that will also see the benefits of New York State’s investments. ",
                ctalink:"",
                ctatext:""
            },
             {
                target:"c-two",
                title:"Which communities will be included in that designation?",
                description:"The term ‘disadvantaged community’ comes from the State Climate Leadership and Community Protection Act, which established the State Climate Justice Working Group (CJWG) to develop criteria for identifying disadvantaged communities statewide.",
                ctalink:"https://climate.ny.gov/disadvantaged-communities-criteria/",
                ctatext:"State Climate Justice Working Group (CJWG) Criteria"
            },
            {
                target:"c-two-a",
                title:"What if my community isn’t designated as “disadvantaged”?",
                description:"All communities statewide are eligible to apply for Bond Act funding Use the Funding Finder tool to find the best fit for a potential project.",
                ctalink:"/pages/funding-opportunities",
                ctatext:"Use the Funding Finder"
            },
             {
                target:"c-three",
                title:"How are residents across the State likely to be impacted by and see the effects of this funding in their own communities? ",
                description:"This historic level of investment will benefit communities across the State by:
    <ul>
    <li>Providing the support New York needs to provide safe water to drink</li>
    <li>Investing in critical water infrastructure</li>
    <li>Restoring critical environmental habitats</li>
    <li>Reducing flood risks</li>
    <li>Preserving our outdoor spaces and local farms</li>
    <li>Investing in climate change mitigation and adaptation projects that will reduce air pollution, lower carbon emissions</li>
    <li>Improving the ability of New York communities to withstand the climate-driven increase in severe weather events and flooding </li>
    </ul>
The Bond Act will also support a substantial investment in the Clean Green Schools initiative, which will allow the program to serve more than 1,000 under-resourced public schools. ",
                ctalink:"Clean Green Schools initiative,",
                ctatext:"The Clean Green Schools Initiative,"
            },
             {
                target:"c-four",
                title:"What jobs/labor provisions are provided in the Bond Act?",
                description:"The Bond Act will promote job creation and ensure good-paying jobs by:
    <ul>
    <li>Ensuring prevailing wages are required for workers on projects funded by the Bond Act</li>
   <li> Requiring State agencies or municipalities receiving over $25 million of Bond Act funding for projects costing more than $50 million to use apprenticeship agreements</li>
   <li> Encouraging project labor agreements and labor peace agreements including Buy America provisions for iron and structural steel </li>
    </ul>",
                ctalink:"",
                ctatext:""
            }
        ]
    })
}}





{{
    accordion({
        title:"",
        headline:"Agencies' Roles",
        items:[
            {
                target:"a-one",
                title:"What are the State Agencies’ roles with respect to allocating these funds?",
                description:"All the Clean Water, Clean Air, Green Jobs appropriations are authorized in the 2022 enacted State Budget. The State will coordinate suballocations to State agencies and Authorities for specific programs and projects. ",
                ctalink:"",
                ctatext:""
            },
            {
                target:"a-two",
                title:"Which agencies will have a role in Bond Act funding implementation? ",
                description:"Multiple State agencies will help to administer the Bond Act funding including:
    <ul>
    <li>Department of Environmental Conservation</li>
   <li> Environmental Facilities Corporation</li>
   <li> Department of State</li>
   <li> Office of Parks, Recreation and Historic Preservation</li>
   <li> Adirondack Park Agency</li>
   <li> Department of Agriculture and Markets</li>
   <li> New York State Energy Research and Development Authority</li>
   <li>Department of Transportation</li>
   <li> Office of Resilient Homes & Communities</li>
    <li>Office of General Services</li>
    </ul>",
                ctalink:"",
                ctatext:""
            }
        ]
    })
}}
