---
layout: layout.njk
title: News
---
{% from '../_includes/_components.njk' import filtercard, card, button, stats, highlight, hero  %}




{{
    card({
        heading:"Featured",
        intro:"",
        cards:[
            {
                title:"OPRHP Releases for Public Review and Comment Draft Eligibility Guidelines ",
                content:"The New York State Office of Parks, Recreation and Historic Preservation today released for public review and comment draft eligibility guidelines to support open space land conservation and recreation infrastructure projects ",
                link:"https://parks.ny.gov/newsroom/press-releases/release.aspx?r=1968",
                image:"https://parks.ny.gov/photos/sitepages/99b75547-2be1-4580-8c3b-865a297b181b.jpg",
                imagealt:"white flowers in bloom"
            },
            {
                title:"DEC Releases Environmental Bond Act Draft Guidelines for Open Space Conservation Acquisitions",
                content:"Draft Guidelines Now Available for Public Review and Comment through July 19",
                link:"https://dec.ny.gov/news/press-releases/2024/6/dec-releases-environmental-bond-act-draft-guidelines-for-open-space-conservation-acquisitions",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2024-06/fillmore-glen-state-park.jpg?h=b5c05948&itok=XlgSQ8lz",
                imagealt:"waterfall with trees alongside in autumn and the leaves are chahning color. It looks serene and relaxing."
            },
            {
                title:"DEC Releases Environmental Bond Act Draft Guidelines for Disadvantaged Community Investment Eligibility and Accounting",
                content:"Draft Guidelines Now Available for Public Review and Comment through June 21, 2024",
                link:"https://dec.ny.gov/news/press-releases/2024/5/dec-releases-environmental-bond-act-draft-guidelines-for-disadvantaged-community-investment-eligibility-and-accounting",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/EarthWeekHero1.jpg?h=b5f6a62e&itok=78_zcl0s",
                imagealt:"A landscape image of a bridge and river"
            }
            
        ]
    })
}}


{{
    filtercard({
        heading:"Recent News",
        archive: false,
        cards:[
            {
                agency: "Governor",
                title:"Governor Hochul Announces Nearly $300 Million Investment in Climate Resiliency During Major Address at The Vatican",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-nearly-300-million-investment-climate-resiliency-during-major",
                date: "May 16, 2024"
            },
            {
                agency: "Governor",
                title:"During Earth Week, Governor Hochul Announces $60 Million for New Green Resiliency Grant Program ",
                link:"https://www.governor.ny.gov/news/during-earth-week-governor-hochul-announces-60-million-new-green-resiliency-grant-program",
                date: "Apr 23, 2024"
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"DEC Releases for Public Review and Comment Draft Eligibility Guidelines for Water Quality Improvement Project Program Grants for Municipal Stormwater Projects",
                link:"https://dec.ny.gov/news/press-releases/2024/3/dec-releases-for-public-review-and-comment-draft-eligibility-guidelines-for-water-quality-improvement-project-program-grants-for-municipal-stormwater-projects",
                date:"Mar 22, 2024" 
            },
            {
                agency:"Environmental Facilities Corporation (EFC)",
                title:"EFC Announces Draft Eligibility Guidelines to Launch New Green Resiliency Grant Program",
                link:"https://efc.ny.gov/news/efc-announces-draft-eligibility-guidelines-launch-new-green-resiliency-grant-program",
                date:"Mar 21, 2024" 
            },
            {
                agency:"Department of Agriculture and Markets",
                title:"Department of Agriculture and Markets Advances Bond Act Funded Programs to Support Farmers and Protect New York Watersheds",
                link:"https://agriculture.ny.gov/news/department-agriculture-and-markets-advances-bond-act-funded-programs-support-farmers-and",
                date:"Mar 14, 2024" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"DEC Releases Environmental Bond Act Draft Eligibility Guidelines for Climate Smart Communities Grant Program Projects",
                link:"https://dec.ny.gov/news/press-releases/2024/3/dec-releases-environmental-bond-act-draft-eligibility-guidelines-for-climate-smart-communities-grant-program-projects",
                date:"Mar 13, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces Funding Now Available to Support Electric School Bus Charging Infrastructure
published",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-funding-now-available-support-electric-school-bus-charging",
                date:"Mar 05, 2024" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"DEC Releases Environmental Bond Act Draft Eligibility Guidelines to Support Planting 25 Million Trees by 2033
published",
                link:"https://dec.ny.gov/news/press-releases/2024/2/dec-releases-environmental-bond-act-draft-eligibility-guidelines-to-support-planting-25-million-trees-by-2033",
                date:"Feb 13, 2024" 
            }
            
        ]
    })
}}









{{
    filtercard({
        heading:"Archive News",
        archive: true,
        cards:[
            {
                agency:"Governor",
                title:"Governor Hochul Announces $100 Million in Environmental Bond Act Funding Now Available for Clean Green Schools",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-100-million-environmental-bond-act-funding-now-available-clean-green",
                date:"Jan 23, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $13.1 Million to Support Construction of the Adirondack Rail Trail",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-131-million-support-construction-adirondack-rail-trail",
                date:"Jan 23, 2024" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces Investments in Long Island Resiliency Projects to Protect Communities from Extreme Weather published",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-investments-long-island-resiliency-projects-protect-communities",
                date:"Jan 22, 2024" 
            },
            {
                agency:"NYSERDA",
                title:"Draft Eligibility Guidelines on Clean Green Schools Environmental Bond Act Now Available For Public Comment ",
                link:"https://www.nyserda.ny.gov/About/Newsroom/2023-Announcements/2023-11-8-NYSERDA-Announces-Release-of-Eligibility-Guidelines-to-Advance-Clean-Green-Schools",
                date:"Nov 08, 2023" 
            },
            {
                agency:"NYSERDA",
                title:"NYSERDA Responds to Public Comments on the Draft Eligibility Guidelines for the Public School Bus Electrification Program ",
                link:"https://www.ny.gov/sites/default/files/2023-11/NYSERDA_Response_EBA_ESB_comments.pdf",
                date:"October 01, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $100 Million Available for Zero-Emission School Buses",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-100-million-available-zero-emission-school-buses",
                date:"Sep 28, 2023" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"New York State Extends Deadline for Clean Water, Clean Air and Green Jobs Environmental Bond Act Project Ideas Survey ",
                link:"https://dec.ny.gov/news/press-releases/2023/9/new-york-state-extends-deadline-for-clean-water-clean-air-and-green-jobs",
                date:"Sep 13, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Celebrates Conclusion of Clean Water, Clean Air and Green Jobs Environmental Bond Act Listening Tour ",
                link:"https://www.governor.ny.gov/news/governor-hochul-celebrates-conclusion-clean-water-clean-air-and-green-jobs-environmental-bond",
                date:"Aug 25, 2023" 
            },
            {
                agency:"Homes and Community Renewal",
                title:"Governor Hochul Pledges Additional $3 Million Emergency Assistance for Homeowners in Hudson Valley, North Country, and Finger Lakes Regions Impacted by Recent Flooding ",
                link:"https://hcr.ny.gov/news/governor-hochul-pledges-additional-3-million-emergency-assistance-homeowners-hudson-valley",
                date:"Aug 09, 2023" 
            },
            {
                agency:"NYSERDA",
                title:"NYSERDA Announces Release of Draft Eligibility Guidelines to Advance Zero-Emission School Bus Environmental Bond Act Investments ",
                link:"https://www.nyserda.ny.gov/About/Newsroom/2023-Announcements/2023-08-03-Draft-Eligibility-Guidelines-Announced-To-Advance-Zero-Emission-School-Bus-Envir",
                date:"Aug 03, 2023" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"New York State Announces Rescheduled North Country Bond Act Listening Session Aug. 11 at Harrietstown Town Hall ",
                link:"https://dec.ny.gov/news/press-releases/2023/8/new-york-state-announces-rescheduled-north-country-bond-act-listening-session-aug-11-at-harrietstown-town-hall",
                date:"Aug 01, 2023" 
            },
            {
                agency:"Governor",
                title:"After Devastating Flooding, Governor Hochul Extends Application Deadline for More Than $500 Million in Resiliency-Related Grants ",
                link:"https://www.governor.ny.gov/news/after-devastating-flooding-governor-hochul-extends-application-deadline-more-500-million",
                date:"Jul 17, 2023" 
            },
            {
                agency:"Department of Environmental Conservation (DEC)",
                title:"New York State Announces Postponement of North Country Bond Act Listening Session ",
                link:"https://dec.ny.gov/news/press-releases/2023/7/new-york-state-announces-postponement-of-north-country-bond-act-listening-session",
                date:"Jul 13, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Kicks Off Clean Water, Clean Air and Green Jobs Environmental Bond Act Listening Tour ",
                link:"https://www.governor.ny.gov/news/governor-hochul-kicks-clean-water-clean-air-and-green-jobs-environmental-bond-act-listening",
                date:"May 30, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces Five Additional Listening Sessions to Advance Clean Water, Clean Air, and Green Jobs Environmental Bond Act ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-five-additional-listening-sessions-advance-clean-water-clean-air-0",
                date:"May 23, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Launches Statewide Listening Tour to Advance Clean Water, Clean Air and Green Jobs Environmental Bond Act ",
                link:"https://www.governor.ny.gov/news/governor-hochul-launches-statewide-listening-tour-advance-clean-water-clean-air-and-green-jobs",
                date:"Apr 17, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $425 Million in Grants for Critical Water Infrastructure Projects Statewide ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-425-million-grants-critical-water-infrastructure-projects-statewide",
                date:"Apr 17, 2023" 
            },
            {
                agency:"Environmental Facilities Corporation (EFC)",
                title:"EFC Announces Draft Eligibility Guidelines to Advance Environmental Bond Act Investments ",
                link:"https://efc.ny.gov/news/efc-announces-draft-eligibility-guidelines-advance-environmental-bond-act-investments",
                date:"Mar 15, 2023" 
            },
            {
                agency:"Governor",
                title:"Governor Hochul Announces $600 Million In Grants Available for Water Infrastructure and Resiliency Projects Statewide, Outlines New Resilient New York Agenda ",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-600-million-grants-available-water-infrastructure-and-resiliency",
                date:"Sep 21, 2021" 
            }
            
            
        ]
    })
}}