---
layout: layout.njk
title: News and Resources
---
{% from '../_includes/_components.njk' import filtercard, card, button, stats, highlight, hero  %}


{{ hero({
    title:"Program Priorities",
    description:"",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/2023-02/outdoors_family_nyc_bridge_environment_1280.jpg?h=b5f6a62e&itok=dbAWmV3E",
    headline:"Environmental Bond Act"
    })
}}

